.container-card {
    font-family: sans-serif;
    min-width: 370px;
    min-height: 400px;
    padding: 10px;
    padding-top: 240px;
    box-sizing: border-box;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    transition: 0.3s;
    text-align: center;
    position: relative;
}
.container-card:hover .card-img {
    height: 240px;
    margin-bottom: 0;
}
.container-card:hover .card-link {
    position: absolute;
    top: 20%;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}
.card-text {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 45px;
    color: #424242;
    margin: 0;
    position: relative;
    padding-left: 35px;
}
.card-text_smal-text {
    font-weight: 400;
    line-height: 25px;
    padding: 0;
    padding-top: 20px;
}
.card-text__img {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 45px;
    background: transparent url('') no-repeat 50% 50%;
    padding-left: 30px;
}
.card-text__img_1 {
    background-image: url('./img/bg-1.png');
}
.card-text__img_2 {
    background-image: url('./img/bg-2.png');
}
.card-text__img_3 {
    background-image: url('./img/bg-3.png');
}
.card-img {
    position: absolute;
    border-radius: 8px 8px 0 0;
    top: 0;
    left: 0;
    transition: 0.3s;
    height: 130px;
    width: 100%;
    background-size: cover;
}
.card-link {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    text-align: center;
    color: #860000;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 25px;
    font-size: 16px;
    text-decoration: none;
}
.card-link:hover {
    text-decoration: underline;
}
@media (max-width: 430px) {
    .container-card {
        margin: 20px 10px;
        width: 300px;
        min-width: 300px;
    }
}

