.color-palette-container {
    position: relative;
    width: 70px;
    height: 70px;

    &__input {
        z-index: 0;
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        outline: none;

        &_primary {
            top: 0;
            left: 0;
        }

        &_secondary {
            bottom: 0;
            right: 0;
        }
        
        &_active {
            z-index: 1;
        }
    }
}
