.search-form {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.search-form__input {
    width: 100%;
    background-color: #dadada;
    border: 2px solid #9b9b9b;
    border-radius: 5px;
    line-height: 50px;
    font-size: 30px;
    padding: 0 10px;
    outline: none;
}
