.main-canvas-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-canvas {
    display: block;
    max-width: 100vh;
    max-height: 100vh;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=') repeat;
}
