.instrument-item {
    height: 46px;
    width: 46px;
    margin: 0 auto;
    padding-top: 10px;
    z-index: 1;
}
.instrument-item:hover {
    z-index: 5;
}
.instrument-item__img {
    transition: background-color 0.3s;
    cursor: pointer;
    position: relative;
    width: 46px ;
    height: 46px;
    background-color: #3a3a3a;
    background-image: url('../../images/icons.png');
    background-repeat: no-repeat;
    border: 3px solid #3a3a3a;
    border-radius: 3px;
}
.instrument-item__img:hover {
    background-color: #444444;
}
.instrument-item__img_active {
    border-color: #ffbf35;
}
.instrument-item__shortcut-button {
    color: #ffbf35;
}

