.instrument-item {
    height: 46px;
    padding-bottom: 10px;
    z-index: 1;

    &:hover {
        z-index: 5;
    }

    &__img {
        transition: background-color 0.3s;
        cursor: pointer;
        position: relative;
        width: 46px ;
        height: 46px;
        background-color: #000000;
        background-image: url('/src/screens/instruments/images/icons.png');
        background-repeat: no-repeat;
       

        &:hover {
            background-color: #535353;
        }

        &_active {
            outline: 3px solid #ffbf35;
        }
    }

    &__shortcut-button {
        color: #ffbf35;
    }
}

