.preview {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 400px;
    border: 3px solid #000000;
    background-color: #c7c7c7;
    padding-top: 10px;
}
.preview_full-screen {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 0;
}
.preview_full-screen .preview__animation-player {
    width: 100vh;
    height: 100vh;
}
.preview_full-screen .preview__animation-player-container {
    width: 100vh;
    height: 100vh;
}
.preview_full-screen .preview__fps-list {
    display: none;
}
.preview_full-screen .preview__full-screen {
    display: none;
}
.preview__animation-player {
    height: 280px;
    display: block;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.preview__fps-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    padding-top: 3px;
}
.preview__fps-button {
    cursor: pointer;
    transition: 0.3s;
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
    line-height: 23px;
    padding: 0 8px;
    display: block;
    border: none;
    outline: none;
}
.preview__fps-button:hover {
    background-color: #444444;
}
.preview__fps-button_active {
    outline: 3px solid #ffd700;
}
.preview__full-screen {
    transition: 0.3s;
    cursor: pointer;
    width: 120px;
    line-height: 30px;
    color: #ffffff;
    font-family: sans-serif;
    background-color: #000000;
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    outline: none;
}
.preview__full-screen:hover {
    background-color: #444444;
}
.preview__title-fps {
    margin: 0 auto;
    margin-top: 10px;
    color: #000000;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    display: block;
}
.preview__animation-player-container {
    width: 280px;
    margin: 0 auto;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=') repeat;
}
