.preview {
    width: 14%;
    min-width: 283px;
    box-sizing: border-box;
    margin: 0 10px;
    padding-top: 30px;
    height: 400px;
}
.preview_full-screen {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #1d1d1d;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}
.preview_full-screen .preview__animation-player {
    width: 100vh;
    height: 100vh;
    overflow: hidden;
}
.preview_full-screen .preview__animation-player-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 100vh;
}
.preview_full-screen .preview__fps-list {
    display: none;
}
.preview_full-screen .preview__full-screen {
    display: none;
}
.preview__animation-player {
    height: 280px;
    display: block;
    background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.preview__fps-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.preview__fps-button {
    cursor: pointer;
    transition: 0.3s;
    background-color: #3a3a3a;
    border: 3px solid #3a3a3a;
    border-radius: 3px;
    color: #ffffff;
    font-family: sans-serif;
    line-height: 21px;
    padding: 0 7px;
    display: block;
    outline: none;
}
.preview__fps-button:hover {
    background-color: #444444;
}
.preview__fps-button_active {
    border-color: #ffd700;
}
.preview__full-screen {
    transition: 0.3s;
    cursor: pointer;
    width: 120px;
    line-height: 30px;
    color: #ffffff;
    font-family: sans-serif;
    background-color: #3a3a3a;
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 3px;
}
.preview__full-screen:hover {
    background-color: #444444;
}
.preview__title-fps {
    margin: 0 auto;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    display: block;
}
.preview__animation-player-container {
    width: 100%;
    margin: 0 auto;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABlBMVEVMTExVVVUnhsEkAAAAHUlEQVR4AWOAAUYoQOePEAUj3v9oYDQ9gMBoegAAJFwCAbLaTIMAAAAASUVORK5CYII=') repeat;
}
