html, 
body {
    padding: 0;
    margin: 0;
}
body {
    min-width: 1600px;
}

.header {
    height: 95px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.container {
    width: 100%;
    max-width: 1350px;
    box-sizing: border-box;
    margin: 0 auto;
}
.logo {
    width: 175px;
    height: 50px;
    background: url('images/logo.png') no-repeat 50% 50%;
    background-size: cover;
}
.project-description__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-description__link {
    display: inline-block;
    line-height: 44px;
    padding: 0 25px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #ffd700;
    transition: 0.3s;
}
.project-description__link:hover {
    background-color: #ffffff;
}
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #505050;
}
.project-description {
    width: 70%;
    height: 590px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-description__screenshot {
    background: url('images/bg-1.png') no-repeat 50% 50%;
    background-size: cover;
    width: 820px;
    height: 395px;
    border: 8px solid #2d2d2d;
    box-shadow: 0 20px 18px 9px #404040;
    position: relative;
}
.project-description__gif-creenshot {
    width: 119px;
    height: 119px;
    position: absolute;
    top: 3px;
    right: 4px;
    background: transparent url('images/example-sprites-2.gif') no-repeat 50% 50%;
    background-size: cover;
}
.project-description__container-text {
    width: 450px;
}
.project-description__title {
    font-size: 36px;
    line-height: 41px;
    font-family: sans-serif;
    color: #ffffff;
}
.project-description__text {
    letter-spacing: 1.7px;
    font-family: sans-serif;
    color: #dfdfdf;
    font-size: 18px;
    text-decoration: underline;
}
.sprites-example {
    width: 100%;
    background: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 85px;
}
.sprites-example__title {
    font-family: sans-serif;
    font-size: 27px;
    color: #ffffff;
    margin: 50px 0;
}
.sprites-example__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.sprites-example__sprite {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.sprites-example__sprite_bg_1 {
    background-image: url('images/example-sprites-1.gif');
}
.sprites-example__sprite_bg_2 {
    background-image: url('images/example-sprites-2.gif');
}
.sprites-example__sprite_bg_3 {
    background-image: url('images/example-sprites-3.gif');
}
.sprites-example__sprite_bg_4 {
    background-image: url('images/example-sprites-4.gif');
}
.sprites-example__sprite_bg_5 {
    background-image: url('images/example-sprites-2.gif');
}
.sprites-example__sprite_bg_6 {
    background-image: url('images/example-sprites-1.gif');
}
.functional {
    width: 100%;
    background-color: #171717;
}
.functional__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;
}
.functional__row {
    max-width: 570px;
    width: 100%;
    padding-bottom: 55px;
}
.functional__text {
    margin: 0;
    font-family: sans-serif;
    font-size: 23px;
    color: #ffffff;
    line-height: 30px;
}
.functional__title {
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: #ffd700;
    font-size: 27px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.text-color_gold {
    color: #ffd700;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 50px 0;
}
.footer__link {
    transition: 0.3s;
    color: #ffffff;
    line-height: 30px;
    position: relative;
    padding-left: 40px;
    font-family: sans-serif;
    letter-spacing: 1.7px;
    font-size: 13px;
}
.footer__link::before {
    content: '';
    transition: 0.3s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #000000 url('images/icon-1.png') no-repeat 50% 50%;
    background-size: cover;
    border-radius: 3px;
}
.footer__link:hover {
    color: #ffd700;
}
.footer__link:hover::before {
    background-color: #181818;
}
