<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="content-wrapper">
        <%= htmlWebpackPlugin.options.content.screens.colorPalette %>
        <%= htmlWebpackPlugin.options.content.screens.resizeCanvas %>

        <div class="instruments">
            <%= htmlWebpackPlugin.options.content.screens.instruments.pen %>
            <%= htmlWebpackPlugin.options.content.screens.instruments.eraser %>
            <%= htmlWebpackPlugin.options.content.screens.instruments.paintBucket %>
        </div>

        <%= htmlWebpackPlugin.options.content.screens.canvas.mainCanvas %>
    </div>
</body>
</html>
