<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Piskel-clone</title>
</head>
<body>
    <div class="content-wrapper">
        <%= htmlWebpackPlugin.options.content.screens.resizeCanvas %>

        <%= htmlWebpackPlugin.options.content.screens.export %>

        <div class="column">
            <%= htmlWebpackPlugin.options.content.screens.resizeTool %>

            <%= htmlWebpackPlugin.options.content.screens.instruments.pen %>
            <%= htmlWebpackPlugin.options.content.screens.instruments.eraser %>
            <%= htmlWebpackPlugin.options.content.screens.instruments.pipetteColor %>
            <%= htmlWebpackPlugin.options.content.screens.instruments.paintBucket %>
            <div class="column__row">
                <%= htmlWebpackPlugin.options.content.screens.colorPalette %>
            </div>
        </div>

        <div class="column column_left">
            <%= htmlWebpackPlugin.options.content.screens.frame %>
        </div>

        <%= htmlWebpackPlugin.options.content.screens.layer %>

        <%= htmlWebpackPlugin.options.content.screens.preview %>

        <%= htmlWebpackPlugin.options.content.screens.canvas.mainCanvas %>
    </div>
</body>
</html>
