<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Piskel-clone</title>
</head>
<body>
    <div class="content-wrapper">
        <div class="column">
            <%= htmlWebpackPlugin.options.content.screens.resizeTool %>
            <div class="instruments-container">
                <%= htmlWebpackPlugin.options.content.screens.instruments.pen %>
                <%= htmlWebpackPlugin.options.content.screens.instruments.stroke %>
                <%= htmlWebpackPlugin.options.content.screens.instruments.eraser %>
                <%= htmlWebpackPlugin.options.content.screens.instruments.rectangle %>
                <%= htmlWebpackPlugin.options.content.screens.instruments.pipetteColor %>
                <%= htmlWebpackPlugin.options.content.screens.instruments.paintBucket %>
                <%= htmlWebpackPlugin.options.content.screens.instruments.paintAllPixels %>
            </div>
            <div class="column__row">
                <%= htmlWebpackPlugin.options.content.screens.colorPalette %>
            </div>
        </div>

        <div class="column column_frame">
            <%= htmlWebpackPlugin.options.content.screens.frame %>
        </div>

        <%= htmlWebpackPlugin.options.content.screens.canvas.mainCanvas %>

        <%= htmlWebpackPlugin.options.content.screens.layer %>

        <%= htmlWebpackPlugin.options.content.screens.preview %>  

        <div class="column column_fixed_right">
            <%= htmlWebpackPlugin.options.content.screens.resizeCanvas %>

            <%= htmlWebpackPlugin.options.content.screens.export %>
        </div>
    </div>
</body>
</html>
