body, html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #343d46;
}

@import "./controllers/search-box/style.css" screen;
@import "./views/slider/style.css" screen;
@import "./views/card-video/style.css" screen;
