@import 'screens/color-palette/index.scss';
@import 'screens/instruments/basic-tool/index.scss';
@import 'screens/instruments/pen/index.scss';
@import 'screens/instruments/eraser/index.scss';
@import 'screens/instruments/paint-bucket/index.scss';
@import 'screens/main-canvas/index.scss';

.content-wrapper {
    display: flex;
    justify-content: space-around;
}
.instruments {
    max-width: 155px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
