@import 'fonts/icomoon.css';
@import 'screens/start-page/index.css';
@import 'screens/color-palette/index.css';
@import 'screens/resize-canvas/index.css';
@import 'screens/resize-tool/index.css';
@import 'screens/instruments/basic-tool/index.css';
@import 'screens/instruments/pen/index.css';
@import 'screens/instruments/eraser/index.css';
@import 'screens/instruments/pipette-color/index.css';
@import 'screens/instruments/paint-bucket/index.css';
@import 'screens/instruments/paint-all-pixels/index.css';
@import 'screens/instruments/stroke/index.css';
@import 'screens/instruments/rectangle/index.css';
@import 'screens/instruments/move/index.css';
@import 'screens/instruments/lighten/index.css';
@import 'screens/frame/index.css';
@import 'screens/layer/index.css';
@import 'screens/preview/index.css';
@import 'screens/main-canvas/index.css';
@import 'screens/download-file/index.css';

.content-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #1d1d1d;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
}
.column {
    position: relative;
    width: 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 30px;
}
.column_fixed_right {
    position: fixed;
    top: 450px;
    right: 0;
    height: 200px;
    width: 50px;
    margin-top: 0;
}
.column_frame {
    margin-top: 0;
    flex-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: hidden;
}
.column__row {
    height: 115px;
    width: 100%;
}
.instruments-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 113px;
}
::-webkit-scrollbar {
    height: 10px;
    width: 8px;
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background: #616161;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
 
::-webkit-scrollbar-corner {
    background: #fff;
}
