@import 'screens/instruments/index.scss';
@import 'screens/main-canvas/index.scss';

.content-wrapper {
    display: flex;
    justify-content: space-around;
}
.instruments {
    max-width: 140px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
