.slider {
    cursor: move;
    max-width: calc(410px*4);
    width: 100%;
    height: 700px;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    user-select: none;
}
.container-slide {
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
}
.no-transition {
    transition: none !important;
}
.container-points {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    justify-content: center;
    cursor: auto;
}
.slider-point {
    cursor: pointer;
    transition: 0.3s;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    line-height: 25px;
    color: transparent;
    font-weight: 700;
}
.slider-point:hover {
    color: #343d46;
}
.slider-point_text-color {
    color: #343d46;
}
.slider-point_active {
    background-color: #cb3131;
    color: #ffffff;
}
.slider-point_active:hover {
    color: #ffffff;
}
@media (max-width: 1655px) {
    .slider {
        max-width: calc(410px*3);
    }
}
@media (max-width: 1265px) {
    .slider {
        max-width: calc(410px*2);
    }
}
@media (max-width: 980px) {
    .slider {
        max-width: calc(410px*1);
    }
}
@media (max-width: 430px) {
    .slider {
        max-width: 320px;
    }
}
